<div class="text-center block-center">
  <h1>Dashboard</h1>
  <div class="container">
    <div class="rows">
      <div class="col-md-4 well col-md-offset-1">
        <h3>Average Age: <%= @avg_age %></h3>
      </div>
      <div class="col-md-4 well col-md-offset-1"  >
        <h3>States: N/A</h3>
      </div>
    </div>
  </div>
</div>
