<div class="text-center block-center">
  <h1>Dashboard</h1>
  <div class="container">
    <div class="rows">
      <div class="col-md-4 well col-md-offset-1">
        <h2>Average Age:</h2>
        <h3><%= @avg_age %> years old</h3>
      </div>
      <div class="col-md-4 well col-md-offset-1"  >
        <h2>States:</h2>
        <h3>N/A</h3>
      </div>
    </div>
  </div>
</div>
