<div class="text-center">
  <h1>Robot World!</h1>

  <a class="btn btn-default"href="/robots/new">Build a new robot</a>
  <a class="btn btn-primary"href="/robots">View Directory</a>
  <a class="btn btn-info"href="/dashboard">Dashboard</a>
</div>
