<form action="/robots" method="post">
  <p>Build a new robot:</p>

  <label>Name</label>
  <input type='text' placeholder="<Wall-E>" name='robot[name]'/>
  <br>

  <label>City</label>
  <input type='text' placeholder="<Mars>" name='robot[city]'/>
  </br>

  <label>State</label>
  <input type='text' placeholder="<Space>" name='robot[state]'/>
  </br>

  <label>Avatar</label>
  <input type='text' placeholder="<Wallace>" name='robot[avatar]'/>
  </br>
  </br>

  <label>Birthday</label>
  <input type='text' placeholder="mm/dd/yyyy" name='robot[birthday]'/>
  </br>

  <label>Date Hired</label>
  <input type='text' placeholder="mm/dd/yyyy" name='robot[date_hired]'/>
  </br>

  <label>Department</label>
  <input type='text' placeholder="<recycling>" name='robot[department]'/>
  </br>
</br>

  <input type='submit' value='Submit'/>
</form>
